apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: yolo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: vicmalash/yolo-client:v1.0.4
          ports:
            - containerPort: 3000
          env:
            - name: REACT_APP_BACKEND_URL
              value: http://34.14.54.133/api
          volumeMounts:
            - name: frontend-storage
              mountPath: /usr/src/app/uploads
      volumes:
        - name: frontend-storage
          persistentVolumeClaim:
            claimName: frontend-pvc

